html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #445877;
  background-color: #ededf6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: #445877;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-bottom: 1rem;
}

header {
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #31343d;
  /* padding: 10px 0px; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: red;
 }

.logo h1 {
  font-size: 4.5rem;
  }

nav {
  display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav ul  {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 10px;
 
}

nav a {
  background-color: unset;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--light);
}



#hero {
  padding-top: 4.875rem;
  min-height: 200px;
  color: white;
  text-align: center;
}

.hero-image {
  background-image: url("../img/portfolio-header-placeholder.jpg");
  background-size: cover;
  background-position: center;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.container {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.col-title, .col-body {
  flex: 1 0 100%;
  margin-bottom: 1.5rem;
}


.portfolio-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.portfolio-body img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


.portfolio-body img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 0.5s ease-in-out;
}


.portfolio-feature {
  flex: 0 0 100%;
  height: auto;
  border: 3px solid rgba(250, 80, 67, 0.9);
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

.portfolio-projects {
  flex: 0 0 100%;
  position: relative;
  border: 3px solid rgba(250, 80, 67, 0.9);
  max-height: 200px;
  overflow: hidden;
}

.portfolio-feature:hover, .portfolio-projects:hover  {
  border: 3px solid rgba(67, 250, 82, 0.9);
  box-shadow: 6px 19px 33px #bbb9b9;
}  


.portfolio-info {
  position: absolute;
  background-color: rgba(250, 80, 67, 0.9);
  bottom: 20px;
  left: 0px;
  height: 70px;
  width: 140px;
  padding-top: 0px;
  padding: 6px;
}

.contact ul li {
  display: inline-block;
  margin: 10px;
 }


footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #31343d;
  color: #fff;
}



/* media query for larger screens */

@media screen and (min-width: 760px) {

  /* header {
    display: flex;
    flex-direction: row;
  } */

  .header-container {
    flex-direction: row;
  }

  .logo {
    width: 30%;
    justify-content: flex-start;
    padding: 5px;
    font-size: 4.5rem;
    text-align: right;
  }

  nav {
    max-width: 40%;
  }
  
  .container {
      max-width: 720px;
  }
  .row {
    justify-content: space-between;
  }

  .col-title {
    flex: 0 0 auto;
    width: 18%;
    text-align: right;
    padding-right: 10px;
    border-right: 3px solid #31343d;
  }
  
  .col-body {
    flex: 0 0 auto;
      width: 80%;
      padding: 5px;
    
   }

   .portfolio-feature {
    max-height: 400px;
    overflow: hidden;
   }


   .portfolio-projects {
    flex: 0 0 49%;
    position: relative;
  }

  .contact ul {
    display: flex;
    justify-content: space-between;
   }

}

@media screen and (min-width: 992px) {
  .container {
      max-width: 960px;
  }

}

@media screen and (min-width: 1200px) {
  .container {
      max-width: 1140px;
    }

   }
