/* variable color scheme */

:root {
  --dark: #31343c;
  --highlight: #94cbcc;
  --primary-blue: #445873;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--primary-blue);
  background-color: #ededf6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header title styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--primary-blue);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
  color: var(--primary-blue);
}

header {
  background-color: var(--dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight)
 }

.logo h1 {
  font-size: 4.5rem;
  color: var(--dark);
  }

nav {
  display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav ul  {
    display: flex;
    width: auto;
    margin: 10px;
    
}

nav ul li  {
  justify-content: space-around;
  width: auto;
  margin: 10px;
}

nav a {
  color: var(--highlight);
  padding: 5px;
  border-bottom: 3px solid var(--highlight);
  text-decoration: none;
  /* Navigation hover effect */
  background-size:100% 200%;
  background-image: linear-gradient(to bottom, #31343c 50%, #94cbcc 50%);
  -webkit-transition: background-position .5s;
  -moz-transition: background-position .5s;
  transition: background-position .5s;
  }

nav a:hover {
  color: var(--dark);
  background-position: 0 100%;
}

#hero {
  padding-top: 4rem;
  min-height: 200px;
  text-align: center;
  margin-bottom: 30px;
}

.hero-image {
  background-image: url("../img/portfolio-header-placeholder.jpg");
  background-size: cover;
  background-position: center;
}

.profilo-pic {
  display: none; /* Hides profile pic on mobile */
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  max-width: 200px;
  overflow: hidden;
  max-height: 200px;
  border: 2px solid var(--highlight);
}

.profilo-pic img {
  width: 200px;
  height: auto;
  
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header h2 {
      background-color: var(--highlight);
      padding: 5px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.container {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Mobile first column widths */
.col-title, .col-body {
  flex: 1 0 100%;
  margin-bottom: 1.5rem;
}

.col-title { 
  border-bottom: 3px solid var(--primary-blue);
}

.portfolio-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.portfolio-body img {
  width: 100%;
  display: block;
  /* Opacity transistion animation on hover */
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.portfolio-body img:hover {
  opacity: 1;
}


.portfolio-feature {
  flex: 0 0 100%;
  height: auto;
  border: 3px solid var(--highlight);
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

.portfolio-projects {
  flex: 0 0 100%;
  position: relative;
  border: 3px solid var(--highlight);
  max-height: 200px;
  overflow: hidden;
}

.portfolio-feature:hover, .portfolio-projects:hover  {
  border: 3px solid var(--highlight);
  box-shadow: 6px 19px 33px #bbb9b9;
}  


.portfolio-info {
  position: absolute;
  background-color: var(--highlight);
  bottom: 20px;
  left: 0px;
  height: 70px;
  width: 140px;
  padding-top: 0px;
  padding: 6px;
}

.contact ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  
 }

 .contact ul li {
   flex-direction: row;
 }

 .contact a {
  color: var(--primary-blue);
  padding: 5px;
  border-bottom: 3px solid var(--primary-blue);
  text-decoration: none; /* Removes underline on links*/
  /* Navigation hover effect */
  background-size:100% 200%;
  background-image: linear-gradient(to bottom, #31343c00 50%, #445873 50%);
  -webkit-transition: background-position .5s;
  -moz-transition: background-position .5s;
  transition: background-position .5s;
  }

  .contact a:hover {
    color: var(--highlight);
    background-position: 0 100%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #31343d;
  color: #fff;
}



/* media query for larger screens */

@media screen and (min-width: 760px) {

  .header-container {
    flex-direction: row;
    margin: 8px 0;
  }

  .logo {
    width: 30%;
    justify-content: flex-end;
    padding: 5px;
    font-size: 4.5rem;
    text-align: right;
  }

  nav {
    max-width: 50%;
  }
  
  .row {
    justify-content: space-between;
  }
  
  .col-title {
    flex: 0 0 auto;
    width: 18%;
    text-align: right;
    padding-right: 10px;
    border-right: 3px solid var(--primary-blue);
    border-bottom: none;
  }
  
  .col-body {
    flex: 0 0 auto;
      width: 80%;
      padding: 5px;
    
   }

   .profilo-pic {
    display: flex;
  }

   .portfolio-feature {
    max-height: 400px;
    overflow: hidden;
   }


   .portfolio-projects {
    flex: 0 0 49%;
    position: relative;
  }

  .contact ul {
    display: flex;
    justify-content: space-between;
   }

}

@media screen and (min-width: 1200px) {
  .container {
      max-width: 1140px;
    }

   }
